/* --------------------------------------
    GLOBAL STYLES
-----------------------------------------*/
html {
    font-size: 100%;
} 

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #333333;
    background-color: white;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    color: #006cd5;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
    color: #999;
}

li {
    list-style: none;
}

p {
    color: #999;
}

/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('assets/preloader.gif');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

/* --------------------------------------
    TYPOGRAPHY
-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    margin-top: 0;
}

.logo-text {
	font-family: 'Lato', sans-serif !important;
	font-weight:100;
	}

.getadded {
	/*text-align: center !important;*/
	font-size: 13px;
	}
/* --------------------------------------
    BUTTONS
-----------------------------------------*/
.standard-button,
.alternate-button {
    font-size: 18px;
    font-weight: 600 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.alternate-button {
    padding: 14px 25px
}

.standard-button {
    padding: 16px 25px;
}

.standard-button:hover {
    border: none;
}

.standard-button i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}

.alternate-button {
    border: 1px solid #FFF;
    opacity: 0.7
}

.alternate-button:hover {
    opacity: 1;
    /*color: #FFF!important;*/
}

#header-nav-button {
    margin-left: 20px;
    border: 1px solid #FFF;
}

.3d-button {
    color: #fff;
    display: inline-block;
    text-align: center;
    font-weight: bold !important;
    background: #5fcf80;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0,0,0,0.15);
    border-width: 1px 1px 3px !important;
    border-style: solid;
    border-color: #3ac162;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    padding: 18px 44px 19px;
    font-size: 21px !important;
    background-color: #5fcf80;
}

/*---------------------------------------
   TEXTS & BACKGROUNDS          
-----------------------------------------*/
.white-text {
    color: #ffffff;
}

.dark-text {
    color: #384047;
}

.grey-bg {
    background: #F7F7F7 !important;
}


.dark-grey-bg {
    background: #DEDEDE !important;

}


/*---------------------------------------
   SECTIONS          
-----------------------------------------*/
 
.app-thumb{width: 75px; height: 75px;}

.title-image{width:75px; margin-bottom:20px;}

.navbar-default li > a {
	text-transform: capitalize !important;
}  
.section-wrapper {
    padding: 20px;
    padding-bottom:60px;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    margin-top:40px;
    width: 70%;
}

.section-header h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
}

.section-header .section-description {
    font-size: 18px;
    font-weight: 300;
    color: #9DA1A3;
    margin-bottom: 10px
}

.section-header .section-description p {
    color: #8c989e;
    text-align: center;
    font-weight: 400;
    max-width: 80%;
    font-size: 18px;
    margin: 0 auto 55px;
}

#tagline {
		bottom:0px;
		font-size: 1.5em;
		text-align: center;
		background-color: #ececec;
		margin-bottom:0px;
		bottom: 0px;
		position:absolute;
		margin-left:auto;
		margin-right:auto;
		padding-top:20px;
		padding-bottom:20px;
		width: 100%;
	}
	
#tagline p{
		color: #0044aa;
	}

#big-download {text-align: center; margin-top:50px;}
	.learn-more{margin-top:0px; margin-bottom:20px; bottom:0px;}
	.learn-more {color: #A0E7FA !important;}
	.subtext{
				margin-bottom: 0px !important;
				font-size: 20px;
    			font-weight: 300;
    			color: #9DA1A3;
    			margin-bottom: 80px
				text-align: center; color: #0044aa !important; margin-top:0px; margin-bottom: 0px !important; padding-top:20px; padding-bottom:20px;
	}

#team {background-color: #ececec;}

#contact-footer{
		text-align: center;	
	}	
	
.team-image{
    border-radius: 50%;
	}
/*---------------------------------------
    SECTION STYLES
-----------------------------------------*/

/* HOME */
.header {
    background: url('../assets/hero-bg.png') no-repeat 0 0 fixed;
}

#large-logo{
	height:135px;
	margin-bottom:10px;
}

.fixed-image-bg {
    -webkit-background-size: cover;
    background-size: cover;
}

.white-bg {
    background: #FFF
}

/* TOP BAR WITH NAVIGATION */
.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-default .navbar-nav > li > a {
    font-size: 13px;
    text-transform: uppercase;;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: 1px
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    opacity: 0.8
}

.navbar-nav {
    margin: 12px 0 0;
}
.navbar {
    border: none;
    margin: 0;
    padding: 30px 0;
}

/*---------------------------------------
   SECTION:  GETTING STARTED                 
-----------------------------------------*/
.getting-started-section {
    padding-bottom: 0;
}
.getting-started-section .row {
    padding: 0 10%;
}

.infographic {
    margin-bottom: 80px
}

.details {
    line-height: 26px
}

.details h3 {
    color: #384047;
    margin-bottom: 20px
}

.image-section {
    margin-bottom: 25px;
}

.primary-row {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.centered-content {
    text-align: center;
    margin: 0 auto;
}

.centered-display {
    display: table;
    width: 100%;
    height: 100%;
}

.header-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top:20px;
    padding-bottom:40px;
}

#main-chevron{
	margin-top:20px;
	font-size:30pt; 
	color: white;
}

.header-content h1 {
    color: #fff;
    display: block;
    margin-top: 0;
    font-weight: 300;
    font-size: 48px;
}

.header-content h1+.subheading {
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.header-content p {
	color:white;
}

h1+.subheading {
    color: #8c989e;
    font-weight: 300 !important;
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.callout-link {
    color: #384047;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.image-on-left {
    float: right;
    margin-right: 25%
}

.image-on-right {
    margin-left: 25%
}

/*---------------------------------------
   SECTION:  NEWSLETTER                 
-----------------------------------------*/
.utility-bar { 
    padding: 40px 0
}

.social-row {
    margin-bottom: 0
}
.social-row li {
    display: inline;
    margin: 0 15px
}

.social-row li i {
    padding-right: 4px
}

.social-row li a {
    color: #FFF;
}

.subscription-form .btn-default {
    background: #0573AB;
    border-color: transparent;
    color: #FFF;
}

.subscription-form .form-control {
    border: none
}


/*---------------------------------------
   SECTION:  FEATURES                 
-----------------------------------------*/
.features {
    padding-bottom: 60px
}

.features {
    line-height: 1.8
}

.full-feature-icon {
    display: block;
    width: 130px;
    height: 130px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    color: #0044aa;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
}

.feature-box {
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.feature-box-content {
    padding-left: 130px;
}

.feature-box-content h4 {
    color: #0044aa;
}

/*---------------------------------------
   SECTION:  BRIEF                 
-----------------------------------------*/
.app-brief h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-brief p {
    margin-bottom: 30px
}

.app-brief .phone-image {
    max-width: 350px;
    margin: auto;
}

.app-brief .phone-image img {
    width: 100%;
}

.app-brief .left-align {
    text-align: left;
}

.app-brief .left-align p {
    display: block;
    float: none;
}

.app-brief .btn {
    margin-top: 30px;
}

.app-brief .standard-button {
    color: #FFF;
}

.custom-section-2 ul li,
.custom-section-1 ul li {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
    padding: 5px;
    margin-bottom: 12px;
}

.custom-section-2 ul li i,
.custom-section-2 ul li {
    color: #fff;
}

.custom-section-2 p {
    color: #FFF;
}

.feature-list {
    text-align: left;
}

.feature-list li i {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    line-height: 16px
}

.light-border i {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}




/*---------------------------------------
   SECTION:  TESTIMONIALS                 
-----------------------------------------*/
.company-logos {
    max-width: 700px;
    margin: 0 0 50px;
}

.testimonials {margin-top:40px; margin-bottom:20px;}

.testimonials .quote:before, 
.testimonials .quote:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
}

.testimonials .quote {
    max-width: 480px;
    margin: auto;
    background-color: #F2F4F5;
    border-left: none;
    color: rgba(85,94,106,0.8);
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #E1E4E6;
    -moz-box-shadow: 0 3px 0 #E1E4E6;
    box-shadow: 0 3px 0 #E1E4E6;
}

.testimonials .quote:before {
    border: solid 14px transparent;
    z-index: 3;
    border-top-color: #E1E4E6;
    top: auto;
    right: auto;
    bottom: -28px;
    left: 30px;
}

.testimonials .feedback .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
            box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}

.testimonials .feedback .image img {
    width: 100%;
    vertical-align: top;
}

.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    font-weight: 300
}

.testimonials .feedback .name {
    margin-top: 15px;
    text-align: center;
    font-weight: 600
}

.testimonials .feedback .company-info {
    font-size: 12px;
    text-align: center
}

.testimonials .owl-theme .owl-controls .owl-page span {
    border-radius: 50%;
}

.testimonials .owl-theme .owl-controls {
    margin-top: 30px;
}

.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.client-logos {
    margin-bottom: 30px;
}

.owl-theme .owl-controls .owl-page span {
    background: #008ed6
}

/*---------------------------------------
   SECTION:  SERVICES           
-----------------------------------------*/

.services .single-service .service-icon {
    font-size: 80px;
    text-align: center;
}

.services .single-service h3 {
    text-align: center;
    margin-top: 30px;
}


.services p {
    text-align: center;
    line-height: 1.8
}

/*---------------------------------------
   SECTION:  SCREENSHOTS 
-----------------------------------------*/
.screenshots .shot {
    background: #FFFFFF;
    padding: 10px;
    margin: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
}

.screenshots .shot img {
    border-radius: 4px;
    width: 100%;
}

/*---------------------------------------
   SECTION:  PRICING 
-----------------------------------------*/
#pricing {
    border-top: solid 1px rgba(23,45,53,0.08);
}

.pricing-item-section {
    /*border: 1px solid #e3e9ec;*/
    padding-top: 40px;
    padding-bottom: 40px;
    color: #474b59;
}

.pricing-item-section h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #474b59;
    text-align: center;
    font-weight: 700
}

.pricing-item-price-note {
    padding-bottom: 30px;
    text-align: center;
    font-size: 16px;
    color: #8a8f99;
}

.pricing-item-price {
    text-align: center;
}

.pricing-item-price-unit, 
.pricing-item-rice-currency {
    position: relative;
    top: -36px;
}

.pricing-item-price-unit {
    font-size: 32px;
    margin-left: 5px;
}

.pricing-item-price-frequency {
    position: relative;
    left: -5px;
    font-size: 16px;
}

.pricing-item-price-amount {
    font-size: 76px;
    line-height: 1;
}

.pricing-item-feature-items {
    padding: 0 30px;
    margin-top: 30px;
}

.pricing-item-feature-item {
    list-style: none;
    text-align: left;
    margin: 20px 20px 0;
    line-height: 1.5;
    position: relative;
}

.pricing-item-feature-item i {
    font-size: 22px;
    top: 4px;
    left: 0;
    position: absolute;
}

.pricing-item-feature-title {
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 600
}

.pricing-item-feature-description {
    margin-left: 40px;
    font-size: 14px;
}

/* colors */
.pricing-item-section-basic {
    border-top: 8px solid #3b96d2;
}

.pricing-item-section-basic i {
    color: #3b96d2;
}

.pricing-item-section-pro {
    border-top: 8px solid #F5D927;
}

.pricing-item-section-pro i {
    color: #F5D927;
}

.pricing-item-section-enterprise {
    border-top: 8px solid #1AC458;
}

.pricing-item-section-enterprise i {
    color: #1AC458;
}

/*---------------------------------------
   SECTION:  CTA                 
-----------------------------------------*/

.cta-section {
    background: url('../assets/bg_b.png') repeat;
    
    /*border-top: solid 1px rgba(23,45,53,0.08);
    border-bottom: solid 1px rgba(23,45,53,0.08);*/
    text-align: center;
    color:white;
    padding-top: 40px;
    padding-bottom: 60px;
    
    
}

.alternate-button-2 {
    padding: 18px 44px 19px;
    font-size: 21px;
}

.alternate-button-2 {
    color: #fff;
    display: inline-block;
    text-align: center;
    font-weight: bold !important;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0,0,0,0.15);
    border-width: 1px 1px 3px !important;
    border-style: solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.2) inset;
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.2) inset;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.2) inset;
}

.alternate-button-2:hover {
    color: #FFF;
}


/*---------------------------------------
   SECTION:  FOOTER                
-----------------------------------------*/

footer {
    /*padding: 60px 0 100px 0;*/
    padding: 40px 0 40px 0;
    color: #8c989e !important;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

footer ul > li > a {
    color: #8c989e;
}

footer a:hover {
    color: #717f86;
    text-decoration: underline;
}

footer .company p {
    line-height: 21px;
    margin-top: 17px;
    
}

footer .middlepg {
    margin-top: 17px;
}

footer .company > img {
    height: 30px;
    width: 135px;
}

footer .link-list li.heading {
    font-weight: bold;
    margin-bottom: 10px;
}

footer .link-list li {
    display: block;
    margin: 0 0 3px;
    float: none;
}

footer .social-icons {

}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #c2c2c2;
}

footer .copyright {
    font-weight: bold
}