<doctype html>
<html>
  <head>
    <title>DARWIN Client Documentation</title>
    <link rel="stylesheet" href="css/doc.css"> 
    <link rel="stylesheet" href="css/github.css">
    <!-- <link rel="stylesheet" href="css/screen.css">  -->
    <link href="css/ionicons.min.css" rel="stylesheet">
      <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet" type="text/css">
    
    
  </head>
  <body>
  


      <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
           <div class="darwin-sidebar-logo-container" >
                <img class="darwin-sidebar-logo" src="darwin-logo.png"/>
            </div>
                <div class="sidebar-brand">
                    <a href="#">
                        DARWIN Server Docs
                    </a>
                </div>

        <% @categories.each do |category, file_name| %>
          <li><a href="<%= file_name %>"><%= category %></a></li>
        <% end %>

        <% @blocks.each do |b| %>
          <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
        <% end %>
  
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            <!---------------------------------------------------------->
       
            <nav class="navbar navbar-default" role="navigation" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   
<img class="navbar-brand" src="darwin_app.png"/>
      <div class="navbar-brand">&nbsp;DARWIN Server Documentation</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Get Started</a></li>
        <li><a href="#">Examples</a></li>
        <li><a href="#">Tutorials</a></li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">DARWIN Server Docs</a></li>
            <li><a href="#">DARWIN Client Docs</a></li>            
          </ul>
        </li>
        <li><a href="#">Community</a></li>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<a href="#menu-toggle" class="circlebutton" id="menu-toggle"><i id="toggle-icon" class="ion-navicon-round"></i></a><div class="contents-label">&nbsp;Contents</div>

            <!---------------------------------------------------------->
            
                <div class="row">
                    <div class="col-lg-12">

                     <section class="content">
    





       
        
        
 