.darwin-splash{
  background-color: #F7F7F7;
  width: 100%;
  height:100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-family: 'muli', sans-serif;
  
}

/* -------------------------------
 *    CSS FOR THE DARWIN APP PAGES
 - *-------------------------------- */

/* ------------------------------
 * NAVIGATION
 */

.simple-nav{
  padding-top:20px;
  text-align:center;
  background-color: rgb(247, 247, 247);
  color: #9DA1A3;
  font-size: 35px;
}

.simple-nav a{
  color: rgb(0, 68, 170);
}

.simple-nav a:hover{
  color: #ffc500;
}

.simple-nav img{
  height:35px;
  margin-top:-10px;
  border: none !important;
  background-color: none !important;
}

.darwin-link{
  background-size: 40px 40px;
  height:60px;
}

/* ------------------------------
 *  TITLE SECTION
 */

.title-section p{
  color: #9DA1A3 !important;
  font-weight: 300;
  font-size: 25px;
}

.title-section h2{
  font-weight:bold;
  font-size: 45px !important;
  color: #384047
}

.mini-welcome {
  font-size: 15px !important;
  margin-bottom:-5px;
  margin-top:10px;
}


/* ------------------------------
 * MAIN SECTION
 */

.app-main-section{
  padding-bottom:60px;
}

.app-box{
  box-shadow: 0px 0px 40px #A0A0A0; border-radius: 3px;
}

.app-screenshot{
  margin-top:40px;
  margin-bottom:40px;
  width:30%;
  /*margin-left:25%;*/
}

.app-feature{
  width:200px;
}

.app-title{
  margin-top:-30px;
  font-size: 45px !important;
}

.app-tagline{
  font-size:25px !important;
}

.app-feature-heading{
  margin-top: 0px !important;
}

/* ------------------------------
 * FRATURE SECTION
 */

.feature-icon{
  color:rgb(0, 68, 170);
  font-size: 60px;
  margin-bottom:10px;
}
/* ------------------------------
 * FOOTER SECTION
 */

.app-footer{
  background-color: #E7E7E7;
}

.app-footer p, .app-footer li, .app-footer a{
  color: #717E8A !important;
}