<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

<div id="darwin-widget">
    <iframe id="server-frame"></iframe>
    <div id="darwin-controller">
        <button>D</button>
    </div>

    <div id="darwin-panel">
        <div class="signed-out">
            <span class="info">You are not signed in</span>
            <button class="sign-in">Sign in</button>
        </div>
        <div class="signed-in">
            <span class="info">You are signed in as <span class="bold"></span></span>
            <button class="sign-out">Sign out</button>
            <button class="connections">Connections</button>
        </div>
    </div>
<!-- OLD SIGN IN
    <div id="darwin-sign-in" class="darwin-popup">
        <p class="title">Sign in</p>
        <div class="section">
            <input class="address" type="text" placeholder="address" value="@134.213.52.189:5984">
            <input class="password" type="password" placeholder="password">
        </div>
        <div class="buttons">
            <button class="submit green">Sign in</button>
        </div>
    </div>
-->
    
     <div id="darwin-sign-in" class="darwin-popup">
        <h1>Welcome to DARWIN.</h1>
        <p>Signin to continue to Darwin.</p>
        <div class="section">
            <img id="darwin-login-logo" src="http://www.wide.io/assets/darwin-logo.png"></img>
            <input class="address" type="text" placeholder="address" value="@134.213.52.189:5984">
            <input class="password" type="password" placeholder="password">
        </div>
        <div class="buttons">
            <button class="submit green">Sign in</button>
        </div>
    </div>
    
    
<!--    
          <form id="darwin-login-open-modal">
      <div class="darwin-login-spacer">
        <div id="login-to">
          <h1>Welcome to DARWIN.</h1>
          <p>Signin to continue to Darwin.</p>
        </div>
    </div>
        <div class="darwin-login-spacer">
          <img id="darwin-login-logo" src="http://www.wide.io/assets/darwin-logo.png"></img>
        </div>
        <div class="darwin-login-spacer">
          <input id="darwin-login-input" placeholder="username"></input>
        </div>
        <div class="darwin-login-spacer">
          <input id="darwin-login-input" placeholder="password"></input>
        </div>
        <div class="darwin-login-spacer">
          <input type="submit" value="Sign in" id="darwin-login-button"></input>
        </div>
        <a><p>Sign in using a different account</p></a>
        <div class="darwin-login-spacer">       
          <div id="darwin-powered"><p>Powered by <a target="_blank" href="http://www.wide.io/toys.html#darwin" >DARWIN</a></p>
          </div>
        </div>
      </form>
      
 -->     
    
    <div id="darwin-connections" class="darwin-popup">
        <p class="title">Remote connections</p>
        <div class="section">
            <ul class="connection-list">
                <li><div class="no-connections">There is no active connections.</div></li>
            </ul>
        </div>
        <div class="buttons">
            <button class="new-connection green">New connection</button>
        </div>
    </div>

    <div id="darwin-new-connection" class="darwin-popup">
        <p class="title">Create a new connection</p>
        <div class="section">
            <input class="address" type="text" placeholder="address">
            <input class="permissions" type="text" placeholder="permissions">
        </div>
        <div class="buttons">
            <button class="submit green">Connect</button>
        </div>
    </div>

    <div id="darwin-yesno" class="darwin-popup">
        <p class="title"></p>
        <div class="section"></div>
        <div class="buttons">
            <button class="accept green">Accept</button>
            <button class="decline gray">Decline</button>
        </div>
    </div>

    <div id="darwin-permissions" class="darwin-popup">
        <p class="title">Manage permissions</p>
        <input class="address" type="hidden">

        <div class="tab-controller">
            <button class="request active">Request</button>
            <button class="grant">Grant</button>
        </div>
        <div class="tab request">
            <div class="section">
                <p class="subtitle">Your permissions</p>
                <input class="my-permissions" type="text" placeholder="permissions">
            </div>
            <div class="buttons">
                <button class="submit green">Request</button>
            </div>
        </div>
        <div class="tab grant" style="display: none">
            <div class="section">
                <p class="subtitle">Permissions of <span class="bold"></span></p>
                <input class="remote-user-permissions" type="text" placeholder="permissions">
            </div>
            <div class="buttons">
                <button class="submit green">Grant</button>
            </div>
        </div>
    </div>
</div>


<style type="text/css">

div#darwin-screen-cover{
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;   
    padding-top: 0px;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    position:absolute;
    background-color: red;
    z-index: 1000000;
} 
    div#darwin-widget {
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 1000000;
        font-family: 'Open Sans', sans-serif;
    }

    div#darwin-widget button {
        border: 0;
        cursor: pointer;
        outline: none;
    }

    div#darwin-widget input {
        color: #555;
    }

    div#darwin-widget span.bold {
        font-weight: bold;
    }

    div#darwin-controller {
        background-color: #999;
        width: 40px;
        height: 40px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000000;
        cursor: pointer;
    }

    div#darwin-controller.signed-in {
        background-color: #36a7e3;
    }

    div#darwin-controller button {
        background-color: transparent;
        width: 40px;
        height: 40px;
        position: relative;
        display: table-cell;
        font-size: 20px;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    div#darwin-panel {
        background-color: #eee;
        height: 40px;
        display: table;
        position: fixed;
        left: 40px;
        top: 0;
        padding: 0 10px;
    }

    div#darwin-panel div {
        display: table-cell;
        vertical-align: middle;
    }

    div#darwin-panel div button {
        background-color: #bbb;
        border-radius: 3px;
        margin-left: 5px;
        padding: 3px 10px;
        font-size: 13px;
        color: #fff;
    }

    div#darwin-panel div span.info {
        font-size: 13px;
        color: #999;
    }

    iframe#server-frame,
    div#darwin-panel,
    div.darwin-popup {
        display: none;
    }

    div.darwin-popup {
        background-color: #fafafa;
        box-shadow: 0 0 60px #b0b0b0;
        position: fixed;
        padding: 20px;
    }

    div.darwin-popup p.title {
        font-weight: 700;
        font-style: italic;
        font-size: 19px;
        color: #999;
        margin-bottom: 10px;
    }

    div.darwin-popup p.subtitle {
        font-style: italic;
        font-size: 15px;
        color: #999;
        margin-bottom: 5px;
    }

    div.darwin-popup div.section {
        margin-bottom: 10px;
    }

    div.darwin-popup button {
        border-radius: 4px;
        margin-right: 5px;
        padding: 4px 10px;
        font-size: 18px;
        color: #fff;
        text-align: center;
    }

    div.darwin-popup button.green {
        background-color: #9fde33;
    }

    div.darwin-popup button.gray {
        background-color: #bbb;
    }

    div.darwin-popup input {
        min-width: 250px;
        border: 3px solid #ddd;
        display: block;
        margin-bottom: 5px;
        padding: 5px;
        outline: none;
    }

    div.darwin-popup div.tab-controller {
        margin-bottom: 10px;
    }

    div.darwin-popup div.tab-controller button {
        background-color: #bbb;
        border-radius: 3px;
        display: inline-block;
        margin-right: 5px;
        padding: 3px 10px;
        font-size: 13px;
        color: #fff;
        cursor: pointer;
    }

    div.darwin-popup div.tab-controller button.active {
        background-color: #36a7e3;
    }

    div#darwin-connections ul.connection-list {
        width: 400px;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    div#darwin-connections ul.connection-list li {
        background-color: #eee;
        width: 400px;
        display: table;
        margin-bottom: 5px;
        padding: 10px;
    }

    div#darwin-connections ul.connection-list li div {
        display: table-cell;
        font-size: 13px;
        color: #999;
    }

    div#darwin-connections ul.connection-list li div.address {
        width: 250px;
        font-weight: 700;
    }

    div#darwin-connections ul.connection-list li div.permissions {
        width: 80px;
    }

    div#darwin-connections ul.connection-list li div.permissions a {
        color: #bbb;
    }

    div#darwin-connections ul.connection-list li div.status {
        width: 70px;
        text-align: right;
    }

    div#darwin-connections ul.connection-list li div.no-connections {
        font-style: italic;
    }

    div#darwin-connections input {
        width: 324px;
    }

    div#darwin-yesno div.section p {
        font-size: 13px;
        color: #999;
    }

    div#darwin-permissions input {
        width: 330px;
    }
</style>
