#darwin-login-screen-cover{
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;   
    padding-top: 0px;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
} 

#darwin-login-container{
    position:fixed;
    width:400px;
    height:100%;
    background-color: red;
    left:50%;
    margin-left:-200px;
}

#login-to{
  text-align:center;
  position:absolute;
  top:-150px;
  font-family: sans-serif;
  width:100%;
}

#darwin-login{
  position: fixed;
  width:400px;
  height:300px; 
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  background-color:rgb(216,216,216);
  border-radius:5px;
  z-index:200;
  text-align: center;
  border: 1px outset rgb(250,250,250);
  box-shadow: 0px 0px 20px rgb(77,77,77);
  font-family: sans-serif;
}

.darwin-login-spacer{width:100%;}

#darwin-login-logo{
  margin-top:10px;
  margin-bottom:10px;
  height:70px;
  text-align:center;
}

.darwin-login-input{
  width:80%;
  height:40px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgb(192, 192, 192);
}

input[type=submit]{
  margin-top:20px;
  width:80%;
  height: 40px;
  border-radius:5px;
  margin-left:5px;
  margin-right:5px;
  background-color: blue !important;
  color: white;
  font-weight:bold;
  position:relative;
  bottom:0px;
  border: none;
  margin-top:10px;
}



#darwin-powered{
  position:absolute;
  bottom:-50px;
  text-align: center;
  width: 100%;
  font-size: 8pt;
}

