.panel{
/*margin-top:100px;
 margin-left: 10%;
 width:50%;
 height:400px;
 float:left; */
}

 
/* ---------------
 MAIN LAYOUT
 *------------*/

.main-layout-container{
 text-align: center;
 margin-top:100px;
 padding-left:20px;
 padding-right:20px;
 width:100%;
 height:100%;
}

.main-layout{
 width:100%;
 height:350px;
 display: table;
 margin: 0 auto;
}

/* ---------------
 graph EXPLORER
 *------------*/


.text-container{
  width:100%;
  padding-right:20%;
  margin-top:60px;
}

.l{ margin-left:20px; font-weight: bold;}


.uri-container{
  width:75%;
  float:right;
  overflow:auto;
}

downloadgraph{
  float: right; 
  display:table-cell;
}
.decenter-for-button{
  margin-right:-28px;
}

.add-uri{
  float: right; 
  display:table-cell;
}

.uri-input{
  float:left;
  width:100%;
  display:table-cell;
  
}

.combo{
  float:left;
  width:100%;
}

.graph-explorer-title-container{
  width:100%;
  text-align: center;
}

.graph-explorer-title{
    font-size:28px;
    font-family: 'muli', sans-serif;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;

}

#darwin-graph-explorer{
 height:400px;
}

#operation_menu{
 position:absolute;
 top:0px;
 right:0px;
}

#browser-panel{
 position:absolute;
 top:0px;
 left:0px;
}

/* image preview */
.preview{
 width:100%;
 float: left;
}

/* Overwite the standard icons */
.tree-folder {
  background: url('../images/folder.png') no-repeat center center !important;
  background-size:2px;
}
.tree-folder-open {
  background: url('../images/filing.png') no-repeat center center !important;
  background-size: contain;
}  
.tree-graph {
  background: url('../images/document.png') no-repeat center center !important;
  background-size: 2px;
}

/* ---------------
 DIALOG BOXES
 *------------*/

#dialog {
  width:300px;
}
.upload-dialog {
 width: 300px !important;
 height: 100px;
 text-align: center;
 background-color: #F2F2F2;
}

.upload-dialog input {
 margin-left: auto;
 margin-right: auto;
 margin-top:20px;
}

#graphInput{
  background-color: white;
}

.panel-title {
  width:100% !important;
}

.panel-tool{
  float:right !important;
}