.panel{
/*margin-top:100px;
 margin-left: 10%;
 width:50%;
 height:400px;
 float:left; */
}

 
/* ---------------
 MAIN LAYOUT
 *------------*/

.main-layout-container{
  text-align: center;
  margin-top:100px;
  padding-left:20px;
  padding-right:20px;
  width:100%;
  height:100%;
}

.main-layout{
 width:100%;
 height:350px;
 display: table;
 margin: 0 auto;
}


.title-container{
  width:100%;
  text-align: center;
}

.title{
  font-size:28px;
  font-family: 'muli', sans-serif;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  
}

/* ---------------
 FILE EXPLORER
 *------------*/

#darwin-file-explorer{
 height:350px;
}

#operation_menu{
 position:absolute;
 top:0px;
 right:0px;
}

#browser-panel{
 position:absolute;
 top:0px;
 left:0px;
}

/* image preview */
.preview{
 width:100%;
 float: left;
}

/* Overwite the standard icons */
.tree-folder {
  background: url('../images/folder.png') no-repeat center center !important;
  background-size:2px;
}
.tree-folder-open {
  background: url('../images/filing.png') no-repeat center center !important;
  background-size: contain;
}  
.tree-file {
  background: url('../images/document.png') no-repeat center center !important;
  background-size: 2px;
}

/* ---------------
 DIALOG BOXES
 *------------*/

#dialog {
  width:300px;
}
.upload-dialog {
 width: 300px !important;
 height: 100px;
 text-align: center;
 background-color: #F2F2F2;
}

.upload-dialog input {
 margin-left: auto;
 margin-right: auto;
 margin-top:20px;
}

#fileInput{
  background-color: white;
}

.panel-title {
  width:100% !important;
}

.panel-tool{
  float:right !important;
}