/* --------------------------------------
=========================================
COLOR : RED 

MAIN COLOR CODE: #ED1A1A

DEEP COLOR CODE: #BF1717
=========================================
----------------------------------------- */

.color-overlay {
    background: rgba(0, 0, 0, 0.55);
}

.standard-button {
    background: #ED1A1A;
}

.standard-button2 {
    background: #ED1A1A;
}

.standard-button2:hover {
    background: #BF1717;
}

.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: #BF1717;
    border-color: inherit;
}

.colored-line,
.colored-line-left,
.feature-box-icon,
.utility-bar {
    background: #ED1A1A;
}

.main-color {
    color: #ED1A1A;
}


.callout-link {
    color: #ED1A1A;
}

.callout-link:hover {
    color: #05A2F2;
}

.features .feature:hover .icon-container .icon {
    background: #ED1A1A;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #ED1A1A;
            box-shadow: 0px 0px 0px 2px #ED1A1A;
}

.features .feature .icon-container .icon {
    border: 1px solid #ED1A1A;
    color: #ED1A1A;
}

.feature-list li i {
    color: #ED1A1A;
}

.colored-border i {
    border: 1px solid #ED1A1A;
}


.services .single-service .service-icon,
.services .single-service h3 {
    color: #ED1A1A;
}

.screenshots .owl-theme .owl-controls .owl-page span {
    background: #ED1A1A;
}

.alternate-button-2 {
    background-color: #ED1A1A;
    border-color: #ED1A1A;
}


.subscription-form .btn-default {
    background: #BF1717;
}

.owl-theme .owl-controls .owl-page span {
    background: #ED1A1A
}

footer .social-icons li a:hover {
    color: #ED1A1A;
}